body {
  text-align: center;
  background-color: #F2EFE7 ;
}

h1 {
  font-size: 5rem;
  color: #124170;
  /* font-family: "Arvo", cursive; */
  text-shadow: 3px 0 #006A71;

 
  font-family: "Press Start 2P", system-ui;
  font-weight: 400;
  font-style: normal;
}




footer {
  color: #171819;
  font-family: sans-serif;
}

.d {
  background-image: url("./images/crash.png");
}

.i {
  background-image: url("./images/kick.png");
}

.v {
  background-image: url("./images/snare.png");
}

.y {
  background-image: url("./images/tom1.png");
}

.a {
  background-image: url("./images/tom2.png");
}

.n {
  background-image: url("./images/snare.png");
}

.e {
  background-image: url("./images/crash.png");
}

.set {
  margin: 10% auto;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.pressed {
  box-shadow: 0 3px 4px 0 #DBEDF3;
  opacity: 0.5;
  
  transform: scale(0.9);
  
}

.red {
  color: red;
}

.drum {
  outline: none;
  border: 9px solid #5a7a7c;
  font-size: 3rem;
  /* font-family: 'Arvo', cursive; */
  font-family: "Press Start 2P", system-ui;
  line-height: 2;
  font-weight: 900;
  color: #000000;
  text-shadow: 3px 0 #afa8a8;
  border-radius: 15px;
  display: inline-block;
  width: 160px;
  height: 160px;
  text-align: center;
  margin: 10px;
  background-color: rgb(190, 214, 157);
}
